<!DOCTYPE html>
<html>
<head>

</head>

<body>

<% if current_user.tutor? %>
  <%= render "home/home_tutor" %>
<% elsif current_user.student? %>
  <%= render "home/home_student" %>
<% end %> 

<% if flash[:error_messages] %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

</body>
