<!DOCTYPE html>
<html>
<head>

</head>

<body>

<% if current_user.tutor? %>
  <%= render "home/home_tutor" %>
<% elsif current_user.student? %>
  <%= render "home/home_student" %>
<% end %> 


</body>
